.container {
    width: 500px;
    height: 250px;
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_input {
    width: 80%;
    height: 50px;
    border: none;
    margin-top: 35px;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 2px solid #009cce;
    outline: none;
}

.confirm_btn {
    width: 85%;
    height: 70px;
    margin-top: auto;
    margin-bottom: 15px;
    background-color: #009cce;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s;
}

.confirm_btn:hover {
    background-color: #00658b;
    cursor: pointer;
}

.error {
    color: #b10000;
    font-size: 20px;
    margin-top: 20px;
}
