.container {
    width: 91%;
    height: 65px;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms;
}

.container:hover {
    cursor: pointer;
    background-color: #6676ff;
}
