.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    position: relative;
    top: 0;
    min-height: 100vh;
    margin-top: 0;
    /*background-color: #243a67;*/
}
